<%= form_with(model: movimentantion, local: true) do |form| %>
  <% if movimentantion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movimentantion.errors.count, "error") %> prohibited this movimentantion from being saved:</h2>

      <ul>
      <% movimentantion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :bank_account_id %>
    <%= form.number_field :bank_account_id %>
  </div>

  <div class="field">
    <%= form.label :movimentation_date %>
    <%= form.date_select :movimentation_date %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.number_field :value %>
  </div>

  <div class="field">
    <%= form.label :movimentation_type %>
    <%= form.number_field :movimentation_type %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
